#custName {
  width: 45%;
}

h2 {
  font-size: 60px;
}

body {
  color: white;
  background-image: url("../img/pizzabackground.jpg");
  background-size: cover;
}

.panel {
  margin-top: 20px;
  background: rgba(192,192,192,0.5);
  width: 40%;
  float: right;
}
